# ============================================================
# .env.example (Projet Global & Frontend)
# ============================================================
VITE_APP_NAME="OMODA & JAECOO Tunisie - Gestion Parc IT"
VITE_API_URL=/api
