ACCESS_TOKEN_EXPIRY=
GEMINI_API_KEY=
JWT_SECRET=
MAX_SESSION_DURATION=
MONGODB_URI=
REFRESH_BEFORE_EXPIRY=
REFRESH_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
SESSION_WARNING_BEFORE_EXPIRY=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
VITE_API_URL=
VITE_APP_NAME=