# ============================================================
# CONFIGURATION SERVEUR & BASE DE DONNÉES (BACKEND)
# ============================================================
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/Gestion_Parc_IT_final

# CLÉS SECRÈTES DE SIGNATURE JWT (HS256)
JWT_SECRET=
REFRESH_TOKEN_SECRET=

# DURÉES DE VIE & SESSION
ACCESS_TOKEN_EXPIRY=20m
REFRESH_BEFORE_EXPIRY=1m
REFRESH_TOKEN_EXPIRY=1d
SESSION_WARNING_BEFORE_EXPIRY=1m
MAX_SESSION_DURATION=5d

# ============================================================
# CONFIGURATION SMTP (Envoi d'e-mails professionnels)
# ============================================================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Support Parc IT OMODA & JAECOO <support@example.com>"
